body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1 {
    font-family: 'Arial Black';
}
:root {
    --primary-color: #2a9d8f;
    --secondary-color: #e9c46a;
    --accent-color: #f4a261;

    --additional-accent-color:#e76f51;

    --heading-font: 'arial', serif;
    --paragraph-font:   Georgia;
    --avigation-background-color: #2a9d8f;
    --nav-link-color:#e9c46a;
    --nav-hover-link-color:#f4a261;
    --nav-hover-background-color:#e76f51;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-hover-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color:  var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
